.banner {
    display: flex;
    align-items: center;
    height: 480px;
    padding: 0 128px;
    background-color: #CBCBCB;
    background-image: url("../../public/assets/images/booking-banner-beauty.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;

    .form {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 420px;
    }
}

@media (max-width: 896px) {
    .banner {
        height: 320px;
        padding: 0 32px;
        background-image: none;
    }
}
