@import '../../../styles/variables';
@import '../../../styles/mixins';

.wrapper {
    max-width: 448px;
}

.lightText {
    font-weight: 300;
}

.button {
    background-color: $pink-500;
    border-color: $pink-500;

    &:hover {
        background-color: $gray-300 !important;
        border-color: $gray-300 !important;
    }
}

.title {
    text-align: center;
}
