@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.saloonAvatar {
    @include avatar;
}

.card {
    :global(div.p-card-content) {
        padding: 0;
    }

    position: relative;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link {
    * {
        transition: 0.1s all;
    }

    &:hover {
        * {
            color: $pink-500;
        }

        img {
            filter: brightness(0.975);
        }
    }
}

.favoriteButton {
    position: absolute;
    top: 4px;
    left: 4px;
    color: $pink-500 !important;
}

@media (max-width: 896px) {
    .content {
        display: block;

        .chooseDataButton {
            margin-top: 2rem;
            width: 100%;
        }
    }

    .favoriteButton {
        right: 4px;
        left: unset;
    }
}
