@import "../../../../../styles/variables";

.container {
  border: 0.3px solid $black-500;
  border-radius: 16px;

  h3 {
    width: 100%;
    text-align: center;
  }

  .lightText {
    font-weight: 300;
  }

  .input {
    height: 48px;

    &:hover {
      border-color: $pink-500;
    }

    &:enabled:focus {
      border-color: $pink-500;
      box-shadow: 0 0 0 0.2rem $pink-100;
    }
  }
}
