@import '../../styles/variables';
@import '../../styles/mixins';

.wrapper {
    display: flex;
    flex-direction: column;
    padding: 40px 120px;
    border-bottom: 1px solid black;

    .title {
        @include text-24-32;

        align-self: center;
        padding-bottom: 32px;

        .ora {
            font-weight: 700;
            color: $pink-500;
        }
    }

    .advantages {
        display: flex;
        justify-content: space-between;

        .advantage {
            display: flex;
            gap: 8px;
            flex-direction: column;
            align-items: center;
            flex: 1;
            text-align: center;

            .name {
                @include text-20-26;
            }

            .description {
                @include text-18-24;

                color: $gray-500;
            }
        }
    }
}

@media (max-width: 896px) {
    .wrapper {
        padding: 48px 32px;

        .title {
            padding-bottom: 16px;
        }

        .advantages {
            flex-wrap: wrap;

            &>* {
                padding-top: 16px;
            }
        }
    }
}