@import "../../styles/variables";

.primaryButton {
    background-color: $pink-500 !important;
    border-color: $pink-500 !important;
    color: $white-500 !important;

    &:hover {
        background-color: $gray-300 !important;
        border-color: $gray-300 !important;
    }

    &:focus {
        box-shadow: 0 0 0 0.2rem $pink-100 !important;
    }
}
