.main {
  display: flex;
  flex-direction: column;
}

.info {
  display: flex;
  justify-content: space-between;
  padding: 64px 224px;

  .textWrapper {
    width: 560px;
  }
}

.image {
  height: auto;
  width: -webkit-fill-available;;
  max-width: 360px;
}

@media (max-width: 896px) {
  .image {
    padding-top: 32px;
  }

  .info {
    padding: 64px 32px;
    flex-wrap: wrap;
  }
}
