@import '../../../styles/variables';
@import '../../../styles/mixins';

.profileAvatar {
  @include avatar;
}

.outlinedButton {
  color: $pink-500 !important;
  border-color: $pink-500 !important;

  &:focus {
    box-shadow: 0 0 0 0.2rem $pink-100 !important;
  }
}

.errorMessage {
  justify-content: start;
}
