@import '../../../styles/mixins';
@import '../../../styles/variables';

.profileWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;

    &>* {
        max-width: 960px;
        width: 100%;
    }
}
