@import "../../styles/variables";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 88px;
    border-bottom: 1px solid black;
    padding: 0 72px;
}

.linkToLogin {
    background-color: $gray-500;
    color: $white-500;
    height: 32px;
    max-width: 196px;
    padding: 4px 16px;
    border-radius: 16px;
    display: flex;
    align-items: center;

    p {
        white-space: nowrap;
        overflow: hidden;
        display: block;
        text-overflow: ellipsis;
    }

    &:hover {
        background-color: $gray-400;
    }
}

.saloonRegistrationLink {
    font-weight: 700;
    color: $gray-500;

    &:hover {
        color: $gray-400;
    }
}

@media (max-width: 896px) {
    .header {
        padding: 0 16px;
    }

    .saloonRegistrationLink {
        display: none;
    }
}