@import '../../styles/variables';
@import '../../styles/mixins';

.wrapper {
    display: flex;
    justify-content: space-between;
    height: 72px;
    padding: 0 64px;

    .link {
        @include available-width;
        @include disable-select-text;

        display: flex;
        align-items: center;
        justify-content: center;
        height: 72px;
        cursor: pointer;

        &:hover {
            background-color: $gray-100;
        }
    }
}

@media (max-width: 896px) {
    .wrapper {
        flex-wrap: wrap;
        height: unset;
        padding: 0 32px;

        .link {
            justify-content: flex-start;
            flex-basis: 33%;
        }
    }
}