@mixin available-width {
    width: fill-available;
    width: -webkit-fill-available;
    width: -moz-available;
}

@mixin disable-select-text {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin text-14-18 {
    font-size: 14px;
    line-height: 18px;
}
