@mixin available-width {
    width: fill-available;
    width: -webkit-fill-available;
    width: -moz-available;
}

@mixin disable-select-text {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin text-14-18 {
    font-size: 14px;
    line-height: 18px;
}

@mixin text-18-24 {
    font-size: 18px;
    line-height: 24px;
}

@mixin text-20-26 {
    font-size: 20px;
    line-height: 26px;
}

@mixin text-24-32 {
    font-size: 24px;
    line-height: 32px;
}

@mixin text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin avatar {
    border-radius: 50%;
    object-fit: cover;
    pointer-events: none;
}
