$gray-100: #F5F5F5;
$gray-200: #e0e0e0;
$gray-300: #9e9e9e;
$gray-400: #828282;
$gray-500: #555555;

$black-500: black;
$white-500: white;

$pink-001: #fffafc;
$pink-002: #ffeaf4;
$pink-100: #ffbfdf;
$pink-500: #ff1368;
