@import '../../../styles/mixins';

.wrapper {
  max-width: 960px;
  align-self: center;

  h2 {
    font-weight: bold;
  }
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 72px;

  p {
    @include text-18-24;
  }

  img {
    pointer-events: none;
  }
}

@media (max-width: 896px) {
  .info {
    flex-direction: column;
  }
}
