.navigation {
    padding: 8px 72px;

    :global(a[role="menuitem"]) svg {
        display: none;
    }

    :global(li.p-megamenu-submenu-header) {
        display: none;
    }
}

@media (max-width: 896px) {
    .navigation {
        border-width: 0 !important;
        padding: unset;

        :global(ul.p-megamenu-submenu) {
            width: 100%;
            padding-left: 16px;
        }
    }
}
