@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.lightText {
    font-weight: 300;
}

.timeWrapper {
    cursor: pointer;

    &:hover {
        color: $pink-500;
        text-decoration: underline;
    }
}
